<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/unicology/mybatis/UnicolMapper.xml">


	<!-- ======================자소서 분석 웹 크롤링 Mapper====================== -->
	<insert id="jasosu" parameterType="jDTO">
		INSERT INTO jaso
    	VALUES((SELECT nvl(max(jaso_no)+1, 1) from jaso), #{jaso_field}, #{jaso_title}, #{jaso_contents})
	</insert>
	
	
	<!-- ======================채용 공고 웹크롤링 Mapper======================  -->
	<insert id="EmpInfo" parameterType="eDTO">
		INSERT INTO empinfo
    	VALUES((SELECT nvl(max(eno)+1, 1) from empinfo), #{companyName}, #{title}, #{href}, #{clasificar}, #{subclass}, #{career}, #{education}, #{employmentType}, #{work_place}, #{deadlines})
	</insert>
	<!-- 채용 공고 출력 및 pagenation -->
	<select id="empListCriteria" resultType="eDTO">
		<![CDATA[
			SELECT * FROM (
				SELECT rownum rnum, a.*
				FROM (
					SELECT b.* FROM empinfo b
					WHERE eno > 0
					ORDER BY eno DESC
				) a
			)
			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
		]]>
	</select>
	<!-- 채용공고 List 총 개수 -->
	<select id="empCountPaging" resultType="int">
		<!-- 부등호나 느낌표가 들어갈때에는 CDATA를 써줘야함(태그가 아님을 명시) -->
		<![CDATA[
			SELECT count(eno) FROM empinfo
			WHERE eno > 0
		]]>
	</select>
	
	
	
</mapper>