<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/unicology/mybatis/mapper/EmpInfoUnicolMapper.xml">
	<!-- ======================채용 공고 웹크롤링 Mapper======================  -->
	<insert id="EmpInfo" parameterType="eDTO">
		INSERT INTO empinfo
    	VALUES((SELECT nvl(max(eno)+1, 1) from empinfo), #{companyName}, #{title}, #{href}, #{clasificar}, #{middleClassification}, #{subclass}, #{career}, #{education}, #{employmentType}, #{work_place}, #{deadlines})
	</insert>
	
	<!-- 채용공고 리스트 출력 및 pagenation -->
	<select id="jobListSelect" resultType="eDTO">
		<![CDATA[
				SELECT * FROM (
					SELECT rownum rnum, a.*
					FROM (
						SELECT empinfo.* 
	                      FROM EMPINFO empinfo
						WHERE eno > 0
						ORDER BY eno ASC
					) a
				)
			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
			]]>
	</select>
	
	<!-- 총게시글 수  -->
	<select id="searchCountPaging" resultType="int">
		<![CDATA[
			SELECT count(ENO)
			FROM EMPINFO]]>
			<choose>
				<when test='searchkey == "전체"'></when>
				<when test='searchkey == "emptyKey"'></when>
				<otherwise>
					WHERE EMPLOYMENTTYPE LIKE '%'||#{searchkey}||'%'
				</otherwise>
			</choose>
	</select>
	
	<!-- 채용공고 근무조건에 따른 검색  -->
	<select id="empinfoSearchSelect" resultType="eDTO">
		<![CDATA[
				SELECT * FROM (
					SELECT rownum rnum, a.*
					FROM (
						SELECT empinfo.* 
	                      FROM EMPINFO empinfo
						WHERE eno > 0
						ORDER BY eno ASC
					) a]]>
					<choose>
						<when test='keyword == "전체"'></when>
						<otherwise>
							WHERE EMPLOYMENTTYPE LIKE '%'||#{keyword}||'%'
						</otherwise>
					</choose>
				<![CDATA[)
			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
			]]>
			
	</select>
	
	<select id="dutySelect" resultType="eDTO">
		SELECT DISTINCT(CLASIFICAR) FROM empinfo
	</select>
	
	<!-- 크롤링시 중복된 제목이 있는지 파악 -->
	<select id="empinfoTitleCheck" resultType="eDTO">
		SELECT * FROM empinfo
		WHERE title = #{title}
	</select>
	
	<!-- 크롤링시 중복이 있으면 UPDATE -->
	<update id="empinfoUpdate">
		UPDATE empinfo SET 
		subclass = #{subclass}
		WHERE title = #{title}
	</update>
	
</mapper>