<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MyPage mapper  -->    
<mapper namespace="com/unicology/mybatis/mapper/MyPageUnicolMapper.xml">
	
	<!-- 이력서 관리 : 자소서 리스트 mapper  -->
	<select id="resumeSelect" resultType="jwDTO">
		SELECT DISTINCT(num), title, regdate
  		FROM JASOWRITE

	</select>
	
	<!-- 이력서 관리 : 자소서 갯수   -->
	<select id="resumeNumCnt" resultType="int">
		SELECT count(DISTINCT NUM) as NUMCNT 
		  FROM JASOWRITE
	</select>
	
	<!-- 이력서 관리 : 수정 자소서 리스트 조회 -->
	<select id="resumeModifyList" resultType="jwDTO">
		SELECT * FROM JASOWRITE
		WHERE num = #{num}
	</select>
	
	<!-- 회원정보 관리 : 회원정보 수정(뿌려줄 데이터) -->
	<select id="memUpdateList" resultType="mDTO">
		SELECT * FROM UNICOL_MEMBER
		WHERE mid = #{mid}
	</select>
	
	<!-- 회원정보 관리 : 회원정보 수정 (update) -->
	<update id="memberUpdate">
		UPDATE UNICOL_MEMBER
		   SET mname = #{mname},
		       mphone = #{mphone},
		       memail = #{memail},
		       mpost = #{mpost},
		       maddr = #{maddr},
		       maddr_detail = #{maddr_detail},
		       msex = #{msex},
		       mbirth = #{mbirth}
		 WHERE mid = #{mid}       
	</update>
</mapper>