<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
	<!-- 회원정보 mapper -->
<mapper namespace="com/unicology/mybatis/mapper/ResumeUnicolMapper.xml">

<!-- 회원등록 -->
<insert id="resumeinsert" parameterType="rDTO">
	INSERT INTO unicol_resume (RESUME_NO,resume_title,UserId,UserName,UserBirth,UserSex,UserEmail,UserTel,UserPhone, UserAdress, SchoolGrade, SchoolName,
				entranceYear, graduationYear,GraduationStatus, major, majorGrade, MajorTotalgrade, company, division, joincom, resigncom,position,
				duty, sal,businesswork,InternActivity, interncompany, startintern, endintern, interncontent, learningname, learningorgan,
				startlearning, endlearning, learningcontent, licensename, licensepublish, startlicense, award_title, award_inst,  award_year, award_content,
				country_name, country_start, country_end, abroad_content, kind, language_kind, language_level, url_addr, filename, filesize,
				bohun, job_protection, subsidy, obstacle, MilitaryService)
		VALUES (resume_seq.nextval,
				#{resume_title},
				#{UserId},
				#{UserName},
				#{UserBirth},
				#{UserSex},
				#{UserEmail},
				#{UserTel},
				#{UserPhone},
				#{UserAdress},
				#{SchoolGrade},
				#{SchoolName},
				#{entranceYear},
				#{graduationYear},
				#{GraduationStatus},
				#{major},
				#{majorGrade},
				#{MajorTotalgrade},
				#{company},
				#{division},
				#{joincom},
				#{resigncom},
				#{position},
				#{duty},
				#{sal},
				#{businesswork},
				#{InternActivity},
				#{interncompany},
				#{startintern},
				#{endintern},
				#{interncontent},
				#{learningname},
				#{learningorgan},
				#{startlearning},
				#{endlearning},
				#{learningcontent},
				#{licensename},
				#{licensepublish},
				#{startlicense},
				#{award_title},
				#{award_inst},
				#{award_year},
				#{award_content},
				#{country_name},
				#{country_start},
				#{country_end},
				#{abroad_content},
				#{kind},
				#{language_kind},
				#{language_level},
				#{url_addr},
				#{filename},
				#{filesize},
				#{bohun},
				#{job_protection},
				#{subsidy},
				#{obstacle},
				#{MilitaryService}
				)
</insert>

<select id="selectView" resultType="rDTO">
	SELECT * 
	  FROM unicol_resume
	 WHERE UserId = #{UserId} 
</select>

<select id="selectSearch" resultType="rDTO">
	SELECT * FROM unicol_resume WHERE RESUME_NO = #{RESUME_NO}
</select>

</mapper>